body {
    width: 300px;
    height: 300px;
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
}

h1 {
    display: flex;
    justify-content: center;

    background-color: #dc1319;
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 8px 0;
}

div {
    display: flex;
    justify-content: center;
}

span {
    display: flex;
    justify-content: center;
}

.selectMode {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
}
#selectPins {
    padding: 8px 12px;

    border: 0;
    border-radius: 8px;
    background-color: #000;

    color: #fff;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}
#deselectPins {
    display: none;
    padding: 8px 12px;
    margin-left: 16px;

    border: 0;
    border-radius: 8px;
    background-color: #000;

    color: #fff;
    font-size: 16px;
    font-weight: 600;

    cursor: pointer;
}
#selectPins:hover,
#deselectPins:hover {
    background-color: #414141;
}

.dropdown {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 8px 0;
}

.dropdown label {
    margin-top: 12px;
    margin-bottom: 4px;
    font-size: 14px;
    font-weight: 500;
    color: #000;
    text-align: center;
}

#boardSelector {
    width: 90%;
    padding: 8px;

    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;

    outline: none;
    cursor: pointer;

    background-color: #fff;
}

#boardSelector:focus {
    border-color: #dc1319;
    box-shadow: 0 0 4px rgba(220, 19, 25, 0.5);
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

#save {
    padding: 4px 12px;

    background-color: #dc1319;
    color: #fff;

    border: 0;
    border-radius: 8px;

    font-weight: bold;
    font-size: 24px;

    cursor: pointer;
}
#save:hover {
    background-color: #e2565b;
}

#authorize {
    padding: 4px 12px;
    margin-left: 4px;

    background-color: #dc1319;
    color: #fff;

    border: 0;
    border-radius: 8px;

    font-weight: bold;
    font-size: 24px;

    cursor: pointer;
}
#authorize:hover {
    background-color: #e2565b;
}

#guide {
    text-align: center;
    font-size: 12px;
    width: 270px;
}

#refresh {
    display: none;
    text-align: center;
    font-size: 12px;
    width: 270px;
}